/* PHASE 12: Modal */
.modal-screen{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -220px;
  z-index: 3;
}

.welcome-text h1 {
  font-size: 40px;
  font-weight: 100;
}

.x-button {
  float: right;
  font-size: 30px;
}